/* leny/pomidor
 *
 * /src/styles/main.scss - Main Styles
 *
 * coded by leny@BeCode
 * started at 06/02/2021
 */

.modal-overlay {
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    display: flex;
    justify-content:center;
    align-items:center;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
}

.timer-display {
    font-size: 10rem;
    text-align: center;
}
